/* Common styling for the Example skin */

@import "variables.less";

// Page layout

#mw-wrapper{
	width: 100%;
}



.mw-body {
	position: absolute;
	top: 190px;
	left: 300px;
	width: auto;
}


.mw-wiki-logo{
	background-image: url("/skins/fiftysevennorth/resources/images/logo.png");
}